div.sl2501 {position:relative;overflow:hidden;}

div.sl2501 > ul {width:100%;height:100%;list-style:none;position:relative;margin:0;padding:0;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

div.sl2501 > ul > li{display:none;margin:0;padding:0;width:100%;height:100%; float:left;}

div.sl2501 > ul > li.selected{display:block;}

div.sl2501x {position:relative;margin:0;padding:0;border:0}
div.sl2501x a.left, div.sl2501x a.right {z-index:2;width:42px;height:42px;display:block;position:absolute;top:50%;margin-top:-21px;background-image:url(../pics/lr.png);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
 filter: alpha(opacity=66);
 -moz-opacity: 0.66;
 opacity: 0.66;
}
div.sl2501x a.left:hover, div.sl2501x a.right:hover {
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
 filter: alpha(opacity=90);
 -moz-opacity: 0.90;
 opacity: 0.90;
 }
div.sl2501x a.left {left:4px}
div.sl2501x a.right {right:4px;background-position:42px 0}
